html, body {
    height: 100%;
}

.padd-0 {
    padding: 0 !important;
}

.fill-height {
    min-height: 100%;
    height: auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: white;
    width: 500px;
    height: 250px;
    padding: 20px;
    border: 2px solid black;
}

#main-content-uaf {
    width: 850px !important;
    margin: 20px 0 !important;
}

#main-content-vaf {
    width: 850px !important;
    height: 750px !important;
    margin: 20px 0 !important;
}

#main-content-total {
    height: 175px !important;
    margin: 20px 0 !important;
}

.main-title {
    text-align: center;
    margin-bottom: 15px;
}

.select-fp {
    margin: 15px 0 15px 0 !important;
}

.black-input {
    border: 1px solid black !important;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  font-size: 15px;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: black;
  display: none;
  padding: 60px 20px 30px;
  height: 100%;
  border: 1px solid black;
}

.tabcontent h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.tabcontent .data {
    margin: 0;
    margin-top:10px;
}

#fitur-container {
    margin-top: 15px;
}

.modal-body p a {
    text-decoration: none;
}

.row .col-12 {
    text-align: center !important;
}